
<!DOCTYPE html>

<html>

    <h1>Basic Info</h1>

    {% for object in results_basic %}
        
        <p>You searched for <a href="{{ object.protein_link }}">{{ object.uniprot_id }}</a></p> <br>
        <li>Protein name: {{ object.protein_name }}</li>
        <li>Gene name: <a href="{{ object.gene_link }}">{{ object.gene_name }}</a></li>
        <li>Signal peptide: {{ object.signal_peptide }}</li>

    {% endfor %}

    {% for object in results_topo %}

    <li>Topology is {{ object.topology }}<li>

    {% endfor %}

    {% for object in results_variant %}

        <li>Wild type variant is {{ object.res_wt }} and mutant variant is  {{ object.res_mut }}</li>

    {% endfor %}

    <br>
    <br>

    <p> Back to <a href="{% url 'basic:home' %}">Home Page</a></p>

</html>
