{% extends "m3di/base.html" %}

{% block Title %}
  <title>M3DI | Results</title>
{% endblock %}

{% block Search-bar %}
  <div class="search-bar">
    <div class="container">
      <form action="{% url 'm3di:main' %}" method="get">
          Uniprot/Gene ID:
          <input id="input_uni" name="q" type="text" placeholder="" size="10px">
          Residue Position:
          <input id="input_var" name="v" type="text" placeholder="" size="6px">
          <!-- Mutation:
          <input id="input_wt" name="wt" type="text" placeholder="" size="4px">
          <i class="fa-solid fa-arrow-right"></i>
          <input id="input_mut" name="mut" type="text" placeholder="" size="4px"> -->
          <a href="{% url 'm3di:main' %}">
            <button type="submit">Submit</button></a>
      </form>
    </div>
  </div>
{% endblock %}

{% block Content %}
  <section class="results">
    <!-- <p><strong>Search Results</strong></p> -->
    <p>You searched for {{ query_uni }} ({{ results_basic.0.gene_name }})</p>
    {% if query_uni and query_var %}
    <p>Residue position {{ query_var }}</p>
    </p>
    
    {% elif query_uni %}
    <p>No variant specified</p>

    {% else %}
    <p>No search submitted</p>
    
    {% endif %}
      
    <div class="container">

      <h3>Interaction</h3>
      <div class="interaction">
        <div id="cy">
        {{ results_interact_string|json_script:"interaction-data" }}
        </div>
        <div class="side-window">
          <h3>Select a node or an edge</h3>
          <h3 class="node-operation"></h3>
          <h3 class="edge-operation"></h3>
        </div>
      </div>

    <br>

      <h3>Basic Info</h3>
        <ul>
          <li>Protein name: <a href="{{ object.protein_link }}">{{ results_basic.0.protein_name }}</a></li>
          <li>Gene name: <a href="{{ object.gene_link }}">{{ results_basic.0.gene_name }}</a></li>
        </ul>

        <h3>Signal Peptide</h3>
        <ul>
          <li>Signal peptide: {{ results_signal.0.signal_peptide }}</li>
        </ul>

      <h3>Variants</h3>
        <table class="variant-table">
          <tr>
            <th>UniprotID</th>
            <th>Position</th>
            <th>Wildtype</th>
            <th>Mutant</th>
            <th>Prediction</th>
            <th>Reason</th>
          </tr>
          {% for object in results_variant %}
          <tr>
            <td>{{ object.uniprot }}</td>
            <td>{{ object.pdbpos }}</td>
            <td>{{ object.res_wt }}</td>
            <td>{{ object.res_mut }}</td>
            <td>{{ object.missensepred }}</td>
            <td>{{ object.missense_reason }}</td>
          </tr>
        {% endfor %}
        </table>
            
      {% if query_var %}
      <h3>Topology</h3>
        <ul>
          <li>Variant {{ query_var }} is located at the {{ results_topo.0.topology }} region</li>
        </ul>
      {% endif %}


    </div>

        <br/>
        <br>
  </section>

  <hr color="#CAC4D7">
    
{% endblock %}
